<div id="container">

  <div class="layout">
    <div id="side">

      <!-- Title -->
      <header>
        <h1><a href="{{relative gallery.home.url}}">{{gallery.title}}</a></h1>
      </header>

      <br>

      <!-- Album breadcrumbs -->
      <nav class="breadcrumbs">
        {{#each breadcrumbs~}}
        <a class="breadcrumb-item" href="{{relative url}}">{{title}}</a>&nbsp;/&nbsp;
        {{~/each~}}
        <a class="breadcrumb-item" href="{{relative album.url}}">{{album.title}}</a>
      </nav>

      <br>

      <p>general info goes here</p>

      <br>

      <!-- TODO Footer -->
      {{#if gallery.footer}}
      <footer>
        <p>{{{gallery.footer}}}</p>
      </footer>
      {{/if}}

    </div>
    <div id="content">

      <!-- Subalbums -->
      {{#if album.albums}}
        <div id="albums">
          {{#each album.albums~}}
            {{> subalbum}}
          {{~/each}}
        </div>
      {{/if}}

      <!-- divider -->
      {{#if album.files}}{{#if album.albums}}
      <hr>
      {{/if}}{{/if}}

      <!-- Gallery -->
      {{#if album.files}}
      <div id="gallery">
        <ul id="lightgallery">
          {{#each album.files~}}
          {{> thumbnail}}
          {{~/each}}
        </ul>
      </div>
      {{/if}}

      <hr>
      Some informatio

    </div>
  </div>

  <!-- TODO Pagination -->
  {{#compare pagination.length '>' 1}}
  <div>
    <nav class="pagination">
      Pages:
      {{#each pagination}}
      {{#if current}}
      <a class="page current" href="{{relative url}}">{{index}}</a>
      {{else}}
      <a class="page" href="{{relative url}}">{{index}}</a>
      {{/if}}
      {{/each}}
    </nav>
  </div>
  {{/compare}}

  <!-- TODO Zip file -->
  {{#if album.zip}}
  <div id="zip">
    Download album as a <a href="{{album.zip}}">zip file</a>.
  </div>
  {{/if}}

</div>