<div id="container">

  <div class="layout">
    <div id="side">

      {{~#if album.home~}}

        <div class="top">
          <!-- Title -->
          <header>
            <h1 class="site-heading"><a href="{{relative gallery.home.url}}">{{gallery.title}}</a></h1>
            <p class="barcode">{{gallery.title}}</p>
          </header>
        </div>

        <div class="bottom">

          <div class="website-info">
            <p>Place for general website information</p>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde quam sint corporis temporibus eveniet, vel ab nostrum totam est ut.</p>

            <p>This template: <a href="https://github.com/chaosarium/arxive">gihtub</a></p>
          </div>

        </div>

      {{~else~}}

        <div class="top">
          <!-- Album breadcrumbs -->
          <nav class="breadcrumbs">
            {{#each breadcrumbs~}}
            <a class="breadcrumb-item" href="{{relative url}}">{{title}}</a>&nbsp;/&nbsp;
            {{~/each~}}
            <a class="breadcrumb-item" href="{{relative album.url}}">{{album.title}}</a>
          </nav>
        </div>

        <div class="bottom">
          <h1 class="album-heading">{{album.title}}</h1>
          <h1 class="barcode">{{album.title}}</h1>
          <p class="date-range">{{date album.stats.fromDate}} - {{date album.stats.toDate}}</p>
          {{#if album.zip}}
          <div class="zip">
            <p>Download album as <a href="{{album.zip}}">zip</a>.</p>
          </div>
          {{/if}}
        </div>

      {{~/if~}}

    </div>
    <div id="content">

      <!-- Subalbums -->
      {{#if album.albums}}
        <div id="albums">
          {{#each album.albums~}}
            {{> subalbum}}
          {{~/each}}
        </div>
      {{/if}}

      <!-- divider -->
      {{#if album.files}}{{#if album.albums}}
      <hr>
      {{/if}}{{/if}}

      <!-- Gallery -->
      {{#if album.files}}
      <div id="gallery">
        {{#each album.files~}}
          {{> thumbnail}}
        {{~/each}}
      </div>
      {{/if}}

      <hr>
      {{#if gallery.footer}}
        <footer>
          <p>{{{gallery.footer}}}</p>
        </footer>
      {{/if}}

    </div>
  </div>

  <!-- TODO Pagination -->
  {{#compare pagination.length '>' 1}}
  <div>
    <nav class="pagination">
      Pages:
      {{#each pagination}}
      {{#if current}}
      <a class="page current" href="{{relative url}}">{{index}}</a>
      {{else}}
      <a class="page" href="{{relative url}}">{{index}}</a>
      {{/if}}
      {{/each}}
    </nav>
  </div>
  {{/compare}}

</div>