<div class="album">
    <a href="{{relative url}}">
        <img class="album-cover" src="{{relative previews.0.urls.small}}" alt="{{relative previews.0.filename}}">

        <div class="album-info">
            <h3>{{title}}</h3>
            <div>{{stats.photos}}</div>
            <div>{{{date stats.fromDate}}} - {{{date stats.toDate}}}</div>
        </div>
    </a>
</div>