<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, user-scalable=no" />
      <title>{{gallery.title}} - {{album.title}}</title>
      <link rel="stylesheet" href="{{relative 'public/lightgallery2/css/lightgallery-bundle.css'}}" />
      <link rel="stylesheet" href="{{relative 'public/core.css'}}" />
      <link rel="stylesheet" href="{{relative 'public/theme.css'}}" />
  </head>

  <body>

    {{> content}}
    {{!-- {{> video-loader}} TODO support video --}}

    <!-- LightGallery -->
    <script src="{{relative 'public/lightgallery2/lightgallery.min.js'}}"></script>
    <script src="{{relative 'public/lightgallery2/plugins/zoom/lg-zoom.umd.js'}}"></script>
    <script src="{{relative 'public/lightgallery2/plugins/thumbnail/lg-thumbnail.umd.js'}}"></script>
    <script type="text/javascript">
      lightGallery(document.getElementById('lightgallery'), {
        speed: 400,
        loop : false,
        controls: true,
        counter: true,
        download: false,
        appendSubHtmlTo: ".lg-sub-html", 
        
        thumbnail: true,
        toggleThumb: true,
        animateThumb: true,
        allowMediaOverlap: true,
        enableThumbDrag: true,
        thumbWidth: 75,
        thumbHeight: "50px",

        plugins: [lgZoom, lgThumbnail]
      });
      console.log("started lightgallery")
    </script>

  </body>
</html>